doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.
            const preguntas = !{JSON.stringify(setPreguntas)}
            let index = !{pregunta_index}
            let puntaje = !{puntaje}
            let tiempo_inicio = !{tiempo_inicio}
            let tiempo_final = !{tiempo_final}
            let dto_respIncorrecta = !{dto_respIncorrecta}
            let puntaje_total = !{puntaje_total}
            
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")   
        title Geoquiz - Juego

    body#juego(class=`bg-gradient-to-r from-blue-600 to-lime-400 text-4xl text-black text-center font-mono`) 

        #temporizador(class='text-black text-7xl mt-5')

        .pregunta(class='ml-auto mr-auto mt-9 mb-5 w-fit border-4 p-10 bg-white')      

        #pregunta_contador

        .puntos(class='mt-5')

        .btn_opciones(class='grid grid-cols-2 w-fit ml-auto mr-auto mt-12.5 mb-auto gap-5')   

    script(src='/js/juego_src.js' defer)